# Versions manually pinned by us.
[versions]
distribute = 0.6.27
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2
buildout.umask = 0.5.2

# Needed in production
z3c.recipe.usercrontab = 1.1

# Temporal override to fix #12858 (some times the first suggestion is
# not a good one)
plone.app.redirector = 1.1.3

# Plone 3-compatible
Products.PloneFormGen = 1.6.5

# Same versions as installed (patch version might be higher)

Products.Collage = 1.2.3
Products.PloneGlossary = 1.4.2
Products.PloneHelpCenter = 1.6.2
Products.Poi = 1.2.13
collective.dancing = 0.8.17

# Needed by collective.dancing
five.intid = 0.5.2
plone.z3cform = 0.5.10
plone.app.z3cform = 0.4.9
z3c.form = 2.3.2
z3c.formwidget.query = 0.5
z3c.batching = 1.1.0
